<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1030227550407-bq3q1qfmrm8vg89qukmlqtb03hdu57jh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1030227550407-bq3q1qfmrm8vg89qukmlqtb03hdu57jh</string>
	<key>API_KEY</key>
	<string>AIzaSyCleoyoGG05G78lXUy_73n2f6QuWlKtc2M</string>
	<key>GCM_SENDER_ID</key>
	<string>1030227550407</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.madhatmedia.edn.ios</string>
	<key>PROJECT_ID</key>
	<string>eye-docs-now-90a9e</string>
	<key>STORAGE_BUCKET</key>
	<string>eye-docs-now-90a9e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1030227550407:ios:4c040cd3894e3a6b28dee2</string>
</dict>
</plist>